body {
    margin: 0 auto;
    font-family: 'Helvetica Neue,Helvetica','Segoe UI','Lato',Arial,Helvetica,sans-serif;
}

:root {
    --dark-light: #424242;
    --white: #f8f8f8;
    --white-dark: #ddd;
    --border-dark: #181818;
}

.main-profile {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    background-color: var(--white);
    border-bottom: solid 1px #f2f2f2;
    color: var(--dark-light);
}

.pic {
    padding-top: 22px;
}

.pic>img {
    border-radius: 180px;
    box-shadow: 0 2px 42px #42424264;
    border: solid 1px var(--white-dark);
}

.outro {
    color: #989898;
    font-weight: bold;
}

.social {
    margin-top: 12px;
    padding-bottom: 12px;
}

div>li {
    display: inline-block;
    list-style: none;
}

.icon {
    width: 32px;
    height: 32px;
    border-radius: 3px;
    box-shadow: 0 0 0 1px #00000022;
}

.console {
    margin: 0 auto;
    max-width: 600px;
    height: 300px;
    background-color: #323232;
    border: 1px solid var(--border-dark);
    border-radius: 8px;
    margin-top: 12px;
    box-shadow: 0 2px 22px #00000082;
}

.c-header {
    text-align: center;
    position: relative;
    height: 24px;
    background-color: var(--dark-light);
    color: #d8d8d8;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: solid 1px var(--border-dark);
    border-top: solid 1px #9a9a9a;
}

.c-header-controls {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 12px;
    margin-right: 10px;
    margin-top: 4px;
    background: #e36c6c;
    color: #3e3636;
    border-radius: 120px;
    width: 15px;
}

.c-header-controls:hover {
    cursor: pointer;
}

.c-content {
    margin-left: 4px;
}

.c-at, .c-prompt {
    font-family: 'consolas', 'monospace';
}

.c-at {
    color: #1085d3;
}

.c-prompt {
    color: #37d310;
}

.c-prompt-title {
    text-decoration: none;
    color: #3292ff;
}

.c-prompt-output {
    font-size: 14px;
    color: var(--white-dark);
}

hr {
    border: solid 1px var(--dark-light);
}

.footer {
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--white);
    border-top: 1px solid var(--white-dark);
    text-align: center;
}

.footer-text {
    color: #282828;
}

@media screen and (max-width: 620px) {
    .console {
        max-width: 95vw;
    }
}